* {
  margin: 0;
  padding: 0;
}

section.header {
  height: 600px;
  background-image: url(img/blob.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  /* -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0)); */
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 218px;
  transform: rotate(0.5turn);
  background: url(img/wave.svg);
}

.header h1 {
  color: aliceblue;
  font-size: 60px;
  padding-top: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.75),
    -5px -5px 5px rgba(0, 0, 0, 0.75);
  font-weight: bolder;
}
.header a {
  text-decoration: none;
  color: aliceblue;
}
.header p {
  color: aliceblue;
  text-shadow: 2px 2px black;
  font-size: 40px;
  padding-top: 100px;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(85, 37, 37, 0.75),
    -5px -5px 5px rgba(73, 34, 34, 0.75);
}
/* socials */
.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.socials-img {
  margin-left: 300px;
}
.socials img {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
.socials img:hover {
  transition: 0.1s;
  scale: 2;
}

/* about us */
.about {
  margin: 100px auto;
  padding-bottom: 50px;
  width: 100%;
  background: url(img/tilt.svg);
  background-color: black;
}
.about h2 {
  text-align: center;
}
.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  transition: 1s;
}
.about-img img {
  width: 500px;
  height: 500px;
}
.about-isi {
  width: 500px;
}
.left-about,
.right-about {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 1s;
}
.right-about {
  transform: translate(50px, 0);
}
.about-active {
  opacity: 1;
  transform: translate(0, 0);
}

/* feature */
.feature {
  background-color: aquamarine;
  mask-image: url(img/tilt.svg);
}
.center {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.stack-area {
  width: 100%;
  height: 300vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.right,
.left {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  flex-basis: 50%;
}
.cards {
  width: 100%;
  height: 100%;
  position: relative;
}
.card {
  width: 350px;
  height: 350px;
  box-sizing: border-box;
  padding: 35px;
  border-radius: 6mm;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s ease-in-out;
}
.card:nth-child(1) {
  background: rgb(64, 122, 255);
  z-index: 4;
}
.card:nth-child(2) {
  background: rgb(221, 62, 88);
  z-index: 3;
}
.card:nth-child(3) {
  background: rgb(186, 113, 245);
  z-index: 2;
}
.card:nth-child(4) {
  background: rgb(247, 92, 208);
  z-index: 1;
}
.sub {
  font-family: poppins;
  font-size: 20px;
  font-weight: 700;
}
.content {
  font-family: poppins;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}
.card.active {
  transform-origin: bottom left;
}
.left {
  align-items: center;
  flex-direction: column;
}
.title {
  width: 420px;
  font-size: 84px;
  font-family: poppins;
  font-weight: 700;
  line-height: 88px;
}
.sub-title {
  width: 420px;
  font-family: poppins;
  font-size: 14px;
  margin-top: 30px;
}
.sub-title button {
  font-family: poppins;
  font-size: 14px;
  padding: 15px 30px;
  background: black;
  color: white;
  border-radius: 8mm;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
}
.top,
.bottom {
  width: 100%;
  height: 100vh;
  font-family: poppins;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* service */
.program h1 {
  font-weight: bolder;
  margin-top: 150px;
  text-align: center;
}
.service {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.layanan {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: rgb(231, 228, 55);
  border-radius: 25px 0 25px 0;
}

.layanan P {
  opacity: 0;
  transition: 1s;
  transform: translate(0, -40px);
}

.muncul p {
  opacity: 1;
  transform: translate(0, 0);
}
/* akhir service */

/* footer */
footer p {
  margin-left: 1300px;
}
footer h2 {
  margin-bottom: -30px;
  margin-left: 50px;
}

/* resposif */
@media (min-width: 600px) {
  .service {
    display: flex;
    justify-content: space-evenly;
  }
  .layanan {
    width: 40%;
  }
  .about-main {
    flex-wrap: wrap;
  }
}
